@use "../../../styles/mixins.scss";

.about_container {
    padding-top: 15%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.25rem;
    height: 100vh;
    color: var(--font-color-2);
    overflow: scroll;
}

@media (max-width: 900px) {
    .about_container {
        height: max-content;
        padding-bottom: 20%;
        padding-left: 5%;
        padding-right: 5%;
    }
}