@use "../../../styles/mixins.scss";

.about_container{
    padding-top: 15%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2rem;
    height: 100vh;
    color: rgb(130, 145, 166);
}

@media (max-width: 900px) {
    .about_container {
        height: max-content;
        padding-bottom: 20%;
        padding-left: 5%;
        padding-right: 5%;
    }
}