$quantity: 20; // Define the quantity variable

// Define keyframes outside .firefly
@for $i from 1 through $quantity {
    $steps: random(12) + 16;

    @keyframes move#{$i} {
        @for $step from 0 through $steps {
            #{percentage($step / $steps)} {
                transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(random(75) / 100 + 0.25);
            }
        }
    }
}

.firefly {
    position: fixed;
    top: 50%;
    left: 50%;
    width: min(0.8vw, 6px);
    height: min(0.8vw, 6px);
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
    background: var(--bg-1);

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform-origin: -10vw;
    }

    &::before {
        background: var(--font-color-2);
        opacity: 0.4;
        animation: drift ease alternate infinite;
    }

    &::after {
        background: var(--font-color-2);
        opacity: 0;
        box-shadow: 0 0 0vw 0vw var(--font-color-1);
        animation: drift ease alternate infinite, flash ease infinite;
    }

    // Apply animations here
    @for $i from 1 through $quantity {
        &:nth-child(#{$i}) {
            $rotationSpeed: random(10) + 8s; // Define rotation speed here

            animation-name: move#{$i};

            &::before {
                animation-duration: $rotationSpeed;
            }

            &::after {
                animation-duration: $rotationSpeed, random(6000) + 5000ms;
                animation-delay: 0ms, random(8000) + 500ms;
            }
        }
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {

    0%,
    30%,
    100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw var(--font-color-1);
    }

    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw var(--font-color-2);
    }
}