@use "../../../styles/mixins.scss";

.contact_container {
    height: 100vh;
    margin-left: 0.5rem;
    .contact_form {
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        .contact_item {
            padding-bottom: 3%;
            
            .contact_title {
                font-size: 1.3rem;
                color:var(--font-color-1);
                padding-bottom: 1%;
            }

            .contact_place {
                height: 2rem;
                width: 15rem;
                border: 0rem;
                border-bottom: 0.1rem solid var(--white);
                padding: 1%;
                font-size: 1.2rem;
                background: transparent;
                color:var(--white);
                &::placeholder {
                    font-size: 1.2rem;
                }
            }
        }

        .contact_areaitem {
            padding-bottom: 3%;

            .contact_title {
                font-size: 1.3rem;
                color:vr(--font-color-1);
                padding-bottom: 1%;
            }


            .contact_area {
                padding: 2%;
                font-size: 1.3rem;
                background: transparent;
                color: var(--white);
                width: 90%;
                &::placeholder {
                    font-size: 1.2rem;
                    color:var(--placeholder-color);
                }
            }
        }

        .contact_submit {
            width: 10rem;
            height: 4rem;
            font-size: 2rem;
            border-radius: 0.5rem;
            margin-bottom: 5%;
            background: transparent;
            color:var(--font-color-1);
            border: 0.01rem solid var(--border-color-1);
            &:hover {
                box-shadow: 0 0 0.1rem var(--font-color-1);
            }
        }
    }
}

@media (max-width: 900px) {
    .contact_container{
        padding-left: 5%;
    }
}