@use "../../../styles/mixins.scss";

.intro_container {
    padding-left: 20%;

    .name {
        padding-top: 15%;
        font-size: 5rem;
        font-family: "Anton", serif;
        font-weight: 700;
        color: transparent;
        background-image: linear-gradient(to right, var(--font-color-3),var(--font-color-1), var(--font-color-3));
        -webkit-background-clip: text;
        background-clip: text;
    }

    .position {
        font-size: 1.75rem;
        padding-bottom: 5%;
        color: var(--font-color-1);
    }


    .small_intro {
        font-size: 1.25rem;
        width: 20rem;
        color: var(--font-color-2);
    }

}

@media (min-width:351px) and (max-width: 900px) {
    .intro_container {
        padding-left: 10%;
    }
}

@media (max-width: 350px) {
    .intro_container {
        padding-left: 10%;

        .small_intro {
            width: 80%;
        }
    }
}