@use "../../../styles/mixins.scss";

.socials
{
    padding-top: 15%;
    padding-bottom: 15%;
    a{
        padding-right: 2rem;
        svg{
            height: 1.5rem ;
            width: 1.5rem ;
        }
    }
    
}