
.main_container{
    backdrop-filter: blur(4rem);
    // height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    z-index: 2;
}

@media (max-width: 900px) {
    .main_container {
        display: flex;
        flex-direction: column;
    }
}