@use "../../../styles/mixins.scss";

.right_container
{
    width: 50vw;
    height: 100vh;
    overflow-y: hidden;
}

@media (max-width: 900px) {
    .right_container {
        width:100vw;
        overflow-y: scroll;
    }
}